################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64
/.vs
/Space Invaders/x64
/Space Invaders/Debug
/Space Invaders/Release
