################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs/Space Invaders/v14/.suo
/Space Invaders/x64
/Space Invaders/Debug
/Space Invaders/Release
